  <p *ngIf = "blueClass">Button is blue.</p>

<button (click)="blueClass = !blueClass"
  [ngClass]="{ blue: blueClass }"
  [ngStyle]="{ 'font-size.px':fontSize }">Change</button>

<hr>

<!--<b>Property Binding</b><br>-->
<!--<img [src]="imgUrl" alt="" height="200">-->
<!--<hr>-->
<!--<img src="{{ imgUrl }}" alt="" height="200">-->
<!--<hr>-->

<b>Event Binding</b><br>
<input (keyup)="changeImage($event)" [value]="imgUrl">

<!--<app-post [postImage]="imgUrl"></app-post>-->
<app-post *ngFor="let image of images; let i = index"
          [img]="image"
          (imgSelected)="logImage($event)">
  <p>{{ i }} Some content from Component title</p>
</app-post>

<p>Some text will be here!!</p>
<p>Hello {{ name | titlecase }}</p>
<p>Hello {{ getName() }}</p>
<p>{{ 15 + 13 }}</p>

<p>{{ currentDate | date: 'MMMM d, YYYY' }}</p>
<p>{{ currentDate | date: 'longDate' }}</p>

<p>{{ cost | currency }}</p>
<p>{{ cost | currency: 'JPY' }}</p>

<p>{{ temperature | number: '1.0-0' }}</p>

<pre>{{ pizza | json }}</pre>




